sudo: required

language: python

python:
  - "2.7"
  - "3.4"
  - "3.5"

services:
  - docker

before_install:
  - sudo apt-get update
  - sudo apt-get install -y -o Dpkg::Options::="--force-confdef" -o Dpkg::Options::="--force-confold" docker-engine=1.10.1-0~trusty

install: ./owtf.sh setup

script: ./owtf.sh test

branches:
  only:
    - master
